.filter-form {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-form label {
  font-size: 14px;
}

.filter-form select,
.filter-form input {
  padding: 5px;
  margin-left: 10px;
}

.filter-form button {
  padding: 5px 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #005f99;
}
